.button {
  font: var(--text-sm);
  font-weight: var(--weight-semibold);
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--size-4) var(--size-6);
  margin: var(--size-5);
  color: var(--color-off-white);
  transition: background 300ms var(--easing-standard),
    box-shadow 300ms var(--easing-standard);
  cursor: pointer;
  box-shadow: 0 0 10px transparent;
  border: 3px solid transparent;
  background-clip: padding-box;
  &.primary {
    background-color: var(--color-blue-700);
  }
  &.secondary {
    background-color: var(--color-blue-500);
  }
  &.ghost {
    background-color: transparent;
    color: var(--color-blue-700);
    text-decoration: underline;
    padding: 0;
  }
  &.loading {
    background-color: var(--color-blue-300) !important;
    min-width: var(--size-24);
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--color-grey-400) !important;
    color: var(--color-grey-700) !important;
  }
}

.button:hover {
  &.primary {
    background: var(--color-blue-500);
  }
  &.secondary {
    background: var(--color-blue-300);
  }
}

.ghost:hover {
  text-decoration: none;
}

.button:focus {
  outline: none !important;
  border: 3px solid var(--color-off-white);
  box-shadow: 0 0 1px var(--color-off-white);
}
