.card-stack {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--size-36) var(--size-20);
  gap: var(--size-48);
  color: var(--color-black);
}

.yellow {
  background-color: var(--color-yellow-200);
  height: var(--width-lg);
}

.pink {
  background-color: var(--color-pink-200);
  height: var(--width-lg);
}

.blue {
  background-color: var(--color-blue-200);
  height: var(--width-lg);
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.title {
  font: var(--heading-4);
  font-weight: var(--weight-semibold);
}

.description {
  font: var(--text-md);
  margin: 0;
}

.extra-information {
  font: var(--text-sm);
  font-style: italic;
}

.button-container {
  flex-direction: row;
  margin: var(--size-3) 0;
}

.primary-button {
  margin-left: 0 !important;
}

.image {
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 50%;
  border-radius: var(--radius-md);
}

.video {
  width: 50%;
  border-radius: var(--radius-md);
}
