.link {
  font: var(--text-2xl);
  color: var(--color-olive-600);
  padding: 0 var(--size-20);
  text-decoration: none;
  font-weight: var(--weight-bold);
  &.link:hover {
    text-decoration: underline;
  }
}

.header-container {
  /* width: 100%;
  min-height: var(--header-height);
  position: sticky;
  top: 0;
  display: block;

  @media (--laptop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: tomato;
  } */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: var(--header-height);
  position: sticky;
  top: 0;
}
