.container {
  border-radius: var(--radius-2xl);
  background-color: var(--color-purple-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--size-9) var(--size-5) var(--size-32) var(--size-5);
  @media (--tablet) {
    padding: var(--size-24) var(--size-5) var(--size-44) var(--size-5);
  }
  @media (--laptop) {
    display: block;
    padding: var(--size-28) var(--size-5) var(--size-44) var(--size-14);
  }
}

.intro-text {
  min-width: var(--size-64);
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @media (--tablet) {
    width: 420px;
  }
  @media (--laptop) {
    width: 100%;
  }
}

.title {
  font: var(--heading-5);
  @media (--laptop) {
    font: var(--heading-3);
  }
}

.subtitle {
  font: var(--text-md);
  max-width: var(--width-sm);
  margin: var(--size-7) 0 var(--size-6) 0;
}

.purple-center-line {
  display: none;
  @media (--laptop) {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--color-purple-500);
    height: 2780px;
    width: var(--size-2);
    border-radius: var(--radius-md);
  }
}

.scroll-container {
  position: relative;
  @media (--laptop) {
    height: 2900px;
  }
}

.scroll-sticky {
  height: var(--scroll-feature-sticky-height);
  width: 100%;

  @media (--laptop) {
    --scroll-feature-sticky-height: 400px;
    position: sticky;
    top: calc(50vh - (var(--scroll-feature-sticky-height) / 2));
  }
}

.scroll-item {
  & .scroll-item-section:nth-child(3) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-24) 0;
  &:last-child {
    margin-bottom: 0;
  }
  @media (--laptop) {
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;

    & div {
      flex: 1;
    }

    & div:nth-child(1),
    & div:nth-child(3) {
      transition: opacity 0.7s;
    }
    & div:nth-child(2) {
      flex: 1.5;
    }

    &:nth-child(even) {
      & .scroll-item-section:nth-child(1) {
        visibility: hidden;
      }
      & .scroll-item-section:nth-child(3) {
        display: flex;
        visibility: visible;
      }
    }

    &:nth-child(odd) {
      & .scroll-item-section:nth-child(3) {
        visibility: hidden;
        display: flex;
      }
    }

    &.hidden {
      & div {
        opacity: 0;
      }
    }
  }
}

.scroll-item-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:nth-child(1) {
    width: var(--size-72);
  }
  &:nth-child(2) {
    width: calc(var(--size-72) + 4rem);
  }
  @media (--mobile-large) {
    &:nth-child(2) {
      width: calc(var(--size-72) + 8rem);
    }
  }
  @media (--laptop) {
    width: 100%;
    text-align: left;
  }
}

.page {
  flex-direction: column;
  justify-content: center;
}

.page-name {
  font: var(--heading-7);
}

.page-description {
  font: var(--text-sm);
}
