.footer-container {
  display: grid;
  grid-template-columns: var(--grid-2);
  grid-template-rows: 1fr;
  width: 100vw;
  align-items: center;
  color: var(--color-off-white);
  margin-top: var(--size-32);
  background-color: var(--color-blue-200);
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-14) var(--size-5);
  &.contact {
    border-right: 3px solid var(--color-off-white);
  }
}

.link {
  text-decoration: none;
  color: var(--color-off-white);
  font-weight: var(--weight-medium);
  font-size: var(--size-7);
  margin: var(--size-4) 0;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-blue-800);
}

.link:focus {
  outline: none !important;
  border: 1px solid var(--color-off-white);
  border-radius: var(--radius-sm);
}

.contact {
  font-size: var(--size-9);
  margin: var(--size-4) 0;
}

.contact:hover {
  cursor: pointer;
  color: var(--color-blue-800);
  text-decoration: underline;
}
