.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-20) 0;  
  background-color: var(--color-olive-400);
  color: var(--color-olive-600);
  max-width: 100%;
}

.input {
  background-color: var(--color-off-white);
  border-style: solid;
  border-color: var(--color-olive-700);
  height: var(--size-8);
  width: 30vw;
}

.title {
  font-size: var(--size-9);
  margin: 0;
}

.subtitle {
  font-size: var(--size-4);
  margin: var(--size-3) 0;
  font-style: italic;
}